<div class="footer">
	<div class="footer_inner">
{if-A:{maccms:siteaid} = 10 }
    	<div class="mod_footer_partners">
        	<span class="partner_title">合作伙伴</span>
            <div class="partner_links">
{maccms:link type=font num=20}
    		<a href="[link:link]" target="_blank" title="[link:name]" >[link:name]</a>|
{/maccms:link}
          	</div>
        </div>
{endif-A}
        <div class="mod_footer">
			<div class="footermenu">
				<a href="http://www.tencent.com/" rel="nofollow" target="_blank">关于腾讯</a> | 
				<a href="http://www.tencent.com/index_e.shtml" rel="nofollow" target="_blank">About Tencent</a> | 
				<a href="http://www.qq.com/contract.shtml" rel="nofollow" target="_blank">服务条款</a> | 
				<a href="http://adver.qq.com/" rel="nofollow" target="_blank">广告服务</a> | 
				<a href="http://hr.tencent.com/" rel="nofollow" target="_blank">腾讯招聘</a> | 
				<a href="http://service.qq.com/" rel="nofollow" target="_blank">客服中心</a> | 
				<a href="http://www.qq.com/map/" rel="nofollow" target="_blank">网站导航</a> | {maccms:visits}
			</div>
			<div class="copyrightzh">本网站所有资源均系各大视频网站收集，本网站只提供web页面服务，并不提供影片资源存储，也不参与录制、上传<br />
			若本站收录的节目无意侵犯了贵司版权，请给softxz#hotmail.com邮箱地址来信，我们将在第一时间处理与回复,谢谢</div>
			<div class="copyrighten">Copyright © 1998 - <span>2014</span> 280Go.Com <a href="#" rel="nofollow">All Rights Reserved</a> 280视频网 <a  href="#" rel="nofollow">版权所有</a> {maccms:runtime}</div>
		</div>
    </div>
</div>