<link href="{maccms:path_tpl}css/home.css" rel="stylesheet" type="text/css" />
<link href="{maccms:path_tpl}css/v280_head.css" rel="stylesheet" type="text/css" />
<script>var SitePath='{maccms:path}',SiteAid='{maccms:siteaid}',SiteTid='{maccms:sitetid}',SiteId='{maccms:siteid}';</script>
<script src="{maccms:path}js/jquery.js" type="text/javascript" language="javascript"></script>
<script src="{maccms:path}js/jq/jquery.lazyload.js" type="text/javascript" language="javascript"></script>
<script src="{maccms:path}js/jq/jquery.autocomplete.js" type="text/javascript" language="javascript"></script>
<script src="{maccms:path_tpl}js/home.js" type="text/javascript" language="javascript"></script>
<script src="{maccms:path_tpl}js/tpl.js" type="text/javascript" language="javascript"></script>
<script src="{maccms:path_tpl}js/v280_home.js" type="text/javascript" language="javascript"></script>