<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE,chrome=1" />
<title>电影大全-电视剧大全-{maccms:name}</title>
<meta name="keywords" content="电影大全,电视剧大全,最新电影,热播电视剧" />
<meta name="description" content="{maccms:name}提供2013最新电影、最好看的电视剧、高清电影下载" />
{maccms:include}
<link href="{maccms:path_tpl}css/v280_map.css" rel="stylesheet" type="text/css" />
</head>
<body>
{maccms:head}

	<div class="w" style="padding-top: 125px;">
	   <div class="container">
		<div class="nvc">
			<dl>
				<dt>
					<span>当前位置</span>
					<i class="arrow"><b class="a_outer"></b><b class="a_inner"></b></i>
				</dt>
				<dd>首页  »  排行榜</dd>
			</dl>
		</div>
	</div>
{maccms:matrix type=1,2,3,4 table=vod}
		<div class="w-content">
			<ul>
				<dd>
					<span class="title">[matrix:name]</span>
					<h5>总评分榜</h5></dd>
{maccms:vod num=20 type=[matrix:id] start=1 order=desc by=score}
				<li>
					<span class="num">[vod:numfill].</span>
					<span class="tit"><a href="[vod:link]" target="_blank">[vod:colorname]</a> / <a href="[vod:typelink]" target="_blank">[vod:typename]</a></span>
					<span class="score">[vod:score]</span>
				</li>
{/maccms:vod}
			</ul>
			<ul>
				<dd>
					<h5>日点播排行榜</h5></dd>
{maccms:vod num=20 type=[matrix:id] start=1 order=desc by=dayhits}
				<li>
					<span class="num">[vod:numfill].</span>
					<span class="tit"><a href="[vod:link]" target="_blank">[vod:colorname]</a> / <a href="[vod:typelink]" target="_blank">[vod:typename]</a></span>
					<span class="score">[vod:dayhits]</span>
				</li>
{/maccms:vod}
			</ul>
			<ul>
				<dd>
					<h5>周点播排行榜</h5></dd>
{maccms:vod num=20 type=[matrix:id] start=1 order=desc by=weekhits}
				<li>
					<span class="num">[vod:numfill].</span>
					<span class="tit"><a href="[vod:link]" target="_blank">[vod:colorname]</a> / <a href="[vod:typelink]" target="_blank">[vod:typename]</a></span>
					<span class="score">[vod:weekhits]</span>
				</li>
{/maccms:vod}
			</ul>
			<ul style="border-right:0 none;">
				<dd>
					<h5>月点播排行榜</h5></dd>
{maccms:vod num=20 type=[matrix:id] start=1 order=desc by=monthhits}
				<li>
					<span class="num">[vod:numfill].</span>
					<span class="tit"><a href="[vod:link]" target="_blank">[vod:colorname]</a> / <a href="[vod:typelink]" target="_blank">[vod:typename]</a></span>
					<span class="score">[vod:monthhits]</span>
				</li>
{/maccms:vod}
			</ul>
		</div>
{/maccms:matrix}
	</div>

{maccms:foot}
</body>
</html>