<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE,chrome=1" />
<title>好看的{page:name}-最新{page:name}-经典{page:name}-{page:name}电影推荐-第{page:now}页-{maccms:name}</title>
<meta name="keywords" content="{page:key}" />
<meta name="description" content="{page:des}" />
{maccms:include}
<link href="{maccms:path_tpl}css/v280_list.css" rel="stylesheet" type="text/css" />
</head>
<body>
{maccms:head}
<div class="container" style="padding-top: 125px;">
		<div class="nvc">
			<dl>
				<dt>
					<span>当前位置</span>
					<i class="arrow"><b class="a_outer"></b><b class="a_inner"></b></i>
				</dt>
				<dd>{page:textlink}</dd>
			</dl>
		</div>
	</div>
	
	<div class="container">
		<div class="l">
			<div class="mod_indexs">
				<div class="mod_cont">
					<h3>按类型</h3>
					<ul>
						<li {if-A:"{page:pid}"="0"} class="current" {endif-A}><a href="{page:linktype}" title="全部">全部</a></li>
{maccms:menu type=auto order=asc table=vod}
						<li {if-A:"{page:id}"="[menu:id]"} class="current" {endif-A}><a href="[menu:link]" title="[menu:name]">[menu:name]</a></li>
{/maccms:menu}
					</ul>
					<h3>按年代</h3>
					<ul>
						<li {if-A:"{page:year}"=""} class="current" {endif-A}><a href="{page:linkyear}" title="全部">全部</a></li>
{maccms:year type=auto start=2001 end=2014 order=desc}
						<li {if-A:"{page:year}"="[year:name]"} class="current" {endif-A}><a href="[year:link]" title="[year:name]年">[year:name]</a></li>
{/maccms:year}
					</ul>
					<h3>按地区</h3>
					<ul>
						<li{if-A:"{page:area}"=""} class="current" {endif-A}><a href="{page:linkarea}" title="全部">全部</a></li>
{maccms:area type=auto}
						<li{if-A:"{page:area}"="[area:name]"} class="current" {endif-A}><a href="[area:link]" title="[area:name]">[area:name]</a></li>
{/maccms:area}
					</ul>
					<h3>语言</h3>
					<ul>
						<li{if-A:"{page:lang}"=""} class="current" {endif-A}><a href="{page:linklang}" title="全部">全部</a></li>
{maccms:lang type=auto}
						<li{if-A:"{page:lang}"="[lang:name]"} class="current" {endif-A}><a href="[lang:link]" title="[lang:name]">[lang:name]</a></li>
{/maccms:lang}
					</ul>
					<h3>首字母</h3>
					<ul>
						<li{if-A:"{page:letter}"=""} class="current" {endif-A}><a href="{page:linkletter}" title="全部">全部</a></li>
{maccms:letter type=auto letter=all}
						<li{if-A:"{page:letter}"="[letter:name]"} class="current" {endif-A}><a href="[letter:link]" title="[area:name]">[letter:name]</a></li>
{/maccms:letter}
					</ul>
				</div>
			</div>
		</div>
		<div class="r">
			<div class="mod_toolbar">
				<ul>
					<li{if-A:"{page:by}"="time"} class="current" {endif-A}><a href="{page:linkbytime}">最新更新</a></li>
					<li{if-A:"{page:by}"="hits"} class="current" {endif-A}><a href="{page:linkbyhits}">最近热播</a></li>
					<li{if-A:"{page:by}"="score"} class="current" {endif-A}><a href="{page:linkbyscore}">最受好评</a></li>
				</ul>
			</div>
			<div class="mod_video_list">
				<ul>
{maccms:vod pagesize=30 order=desc by=time}
					<li>
						<a href="[vod:link]" class="mod_poster_170" >
							<img class="lazy" data-original="[vod:pic]" src="{maccms:path}images/blank.png">
							{if-A:not isN("[vod:remarks]")}<sup class="mark">[vod:remarks]</sup>{endif-A}
							{if-A:[vod:stint] > 0}<span class="mark_custom"><em class="mark_inner">每集需[vod:stint]积分</em></span>{endif-A}
						</a>
						<h6 class="scores">
							<a href="[vod:link]" title="[vod:name]">[vod:name]</a>
							<strong>[vod:score]</strong>
						</h6>
						<p>导演：[vod:directedlink]</p>
						<p>主演：[vod:starringlink]</p>
  						<p>播放：[vod:hits]</p>
					</li>
{/maccms:vod}
				</ul>
				<div class="page" id="pager">{maccms:pages len=10}</div>
			</div>
		</div>
	</div>
{maccms:foot}

</body>
</html>